include Makefile CHANGES UNLICENSE AUTHORS README
recursive-include docs *
recursive-exclude docs *.pyc
recursive-include tests *
recursive-exclude tests *.pyc
recursive-include examples *
recursive-exclude examples *.pyc
prune docs/_build
